@charset "utf-8";
/* CSS Document */
img { 
	width: 200px;
	height: 75px;
	
}
form {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    width: px;
	height: auto;
	margin: auto;
}

input[type=text]{
    width: 30%;
    padding: 8px 15px;
    margin: 3px;
	height: 10px;
    border:#000000;
	background:#D4D4D4;	
}

button {
    border: 4px solid #000000;
        border-radius: 40px;
        height: 50px;
        width: 200px;
        background-color:#0CADC7;
        color: white;
}


