@charset "utf-8";
/* CSS Document */
*{
    padding: 0; margin: 0;
}
h2{
	color:#50626C;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-transform: uppercase;
	border: 6px ;
	padding: 3px;
	width: 300px;
	margin: auto;
	margin-bottom: 10px;
    margin-top: 20px;
}
img { 
	width: 300px;
	height: 100px;
	
}
form {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    width: 500px;
	height: 300px;
    margin: auto;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label{
	color:#50626C;
	text-transform: uppercase;
}
button {
    background-color: #398DD3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}
.container {
    padding: 16px;
}
nav {
        margin:auto;
        text-align: center;
        width: 100%;
        font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    } 
nav ul {
        background:#211F1F;
        padding: px;
        list-style: none;
        display: inline-block;
        width: 100%;
     }
nav li{
        float:left;
    }
nav li:hover{
        background:#94ECE0;

    }
nav li:hover a{
        color:#FFFFFF;

    }
nav li a{
        display: block;
        padding: 19px;
        color: #fff;
        text-decoration: none;
    }


